node_modules

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/public/build
.env
.dev.vars

/functions/_assets
/app/styles/tailwind.css
/.mf

/coverage
/test-results/
/playwright-report/
/playwright/.cache/
