node_modules

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/public/build
.env
.env.*
!.env.sample
.dev.vars

/functions/_assets
/app/styles/tailwind.css
/.mf
wrangler-local-state
.wrangler
/coverage
/test-results/
/playwright-report/
/playwright/.cache/

.DS_Store
.turbo

.idea/**/*.iml
.idea/workspace.xml
.idea/shelf
.idea/usage.statistics.xml
.idea/httpRequests/
.idea/dataSources/

